<table border="1">
  <tr>
    <td coldspan="2">
      <app-header></app-header>
    </td>
  </tr>

  <tr>
    <td>
      <app-work-experience>

      </app-work-experience>
    </td>
    <td>
      <table>
        <tr>
          <app-skillscompetences>

          </app-skillscompetences>
        </tr>


        <tr>
          <app-certificates>

          </app-certificates>
        </tr>

        <tr>
          <app-languages>

          </app-languages>
        </tr>

      </table>
    </td>
  </tr>
</table>
